body{
    background-color: aquamarine;
    justify-content: center;
}
button img{
    border-radius: 50%;
}
button{
    background-color: transparent;
}
table th{
    background-color: blueviolet;
}
table td{
    background-color: wheat;
}
#reset-img{
    
    height: 100px;
    width: 100px;
}
#buttons-container{
    display: flex;
    justify-content: center;
}
#game-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

